{% extends "layout.html" %}
{% block body %}

<div class=about>

<h1 class="headline">마음에 드는 곡목을 선택하세요! 그럼 최고의 연주자를 매칭해드려요!</h1>

<!--Description. Keep it short and brief-->
		
<p class="description_about">왜 항상 결혼식에선 비슷한 음악만 연주할까요?<br>당신의 결혼식 음악만큼은 좀 더 개성있게 꾸며보세요.</p>

<h2>특별한 당신을 위한 레퍼토리</h2>
<p>뚜띠에는 각양각색의 취향과 분위기를 배려한 맞춤형 곡목들이 있어요.<br>복잡하게 의견을 전달할 필요 없이, 마음에 드는 곡목을 간단히 선택하기만 하세요.<br>클릭만으로 선곡을 간단히 끝낼 수 있답니다.</p>

<h2>나만을 위한 음악가와의 만남</h2>
<p>뚜띠는 항상 센스 넘치는 음악가들과 함께 일하고 있어요.<br>등록된 음악가들의 기본 정보, 음악적 성향 등의 데이터를 기반으로,<br>여러분이 선택한 곡목을 가장 잘 연주할 수 있는 능력자를 매칭해드려요.</p>

<h3>좋은 음악, 좋은 음악가와 손쉽게 만나는 가장 좋은 방법, tutti</h3>

</div>

{% endblock %}