{% extends "layout.html" %}

{% block body %}
<div class=about>
뜻
tutti는 이태리어로, '모두, 함께' 라는 의미를 가집니다.
음악용어로 매우 자주 사용되는 용어이며, 뚜띠의 연주자들이 모두 협업하여
최고의 연주 문화를 만들어나가고자 하는 꿈을 담은 이름입니다.

하는 일
뚜띠는 결혼식/이벤트에 특화된 라이브 연주 서비스입니다.
여러분의 특별한 결혼식, 동창회 등의 이벤트 장소에 직접 찾아가, 라이브 연주를 제공합니다.
꼭 위와같은 형태가 아니라도, 아름다운 음악이 필요한 곳은 어디든 뚜띠의 공연장이 될 수 있습니다.

누가
뚜띠는 전문 연주자과 IT분야 전문가들이 직접 준비한 서비스입니다.
1년 평균 결혼식 연주만 100회 남짓 해오며 느낀 다양한 고객들의 니즈와,
기존 업체들의 구조적 문제점을 극복하고자  준비한 차별화된 연주 서비스입니다.

차별화 포인트가 뭐에요?

넓은 레퍼토리!
웹에서 예약과 동시에 선곡!
연주자의 프로필, 양질의 연주 데모 영상을 확인 가능!

풍부한 기본 레퍼토리(한 식순당 10곡 이상 예정)를 준비해둠은 물론,
연주를 웹에서 예약함과 동시에 자유롭게 선곡하실 수 있습니다.

뚜띠의 레파토리를 구성하는 곡들은 연주자들 사이에 보편적으로 알려진 유명 악보들에 국한되지 않습니다.
자체적으로 발굴한 레퍼토리를 편곡/재구성한 악보 혹은 그에 준하는 훌륭한 사운드를 기대할 수 있는 악보를 사용합니다.
 
뚜띠가 제공하는 곡 중 마음에 드시는 곡이 없다면,
고객님이 원하는 새로운 곡을 장르 불문하고 신청하실 수도 있습니다.

뚜띠에서 활동하는 연주자들은 모두 대표와의 오디션을 통해 선발된 우수한 분들입니다.
그들의 연주 영상을 확인하시고, 연주 퀄리티를 직접 느껴보세요.

획일화된 예식 음악에서 벗어나세요.
여러분의 개성이 담긴 레퍼토리를 구성하고, 뚜띠에게 마구마구 요구하세요!
</div>
{% endblock %}
