{% extends "layout.html" %}

{% block body %}
<div class=movie>
	<p> 3/8(토) 도곡동 율하우스에서 작업한 뚜띠의 첫 연주 실연 영상이 업데이트 되었습니다 </p>
	<iframe width="560" height="315" src="//www.youtube.com/embed/Lg4yzZS5G2k" frameborder="0" allowfullscreen></iframe>
	<p><button class='btn btn-danger'>tutti on Youytube</button><br>
	위 동영상에서 연주한 곡은 Erik Satie의 Je te veux(I want you) 입니다.<br>
	Our service - Repetory 메뉴를 이용하시거나, 위 버튼을 누르신 뒤 뚜띠의 YouTube 채널을 방문하여<br>
	더 많은 곡들을 편리하게 감상하실 수 있습니다.</p>
</div>
<div class=introduction>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3"><img class=playtype src='../static/images/marry.gif'></div>
			<div class="col-md-3"><img class=playtype src=../static/images/event.gif></div>
		</div>
		<div class="row">
			<div class="col-md-3">결혼식 연주</div>
			<div class="col-md-3">이벤트 연주</div>
		</div>
		<div class="row">
			<div class="col-md-6">특별한 날을 더욱 멋지게 장식할 그 음악, 뚜띠와 함께 하세요<br>
			Make your special day unforgettable with our musicians</div>
		</div>
		<div class="row">
			<div class="col-md-3"><img class=playtype src='../static/images/select.gif'></div>
			<div class="col-md-3"><img class=playtype src=../static/images/request.gif></div>
			<div class="col-md-3"><img class=playtype src=../static/images/communication.gif></div>
		</div>
		<div class="row">
			<div class="col-md-2">예약과 동시에 직접 선곡</div>
			<div class="col-md-2">원하는 곡 자유롭게 신청</div>
			<div class="col-md-2">연주자와의 원활한 소통</div>
		</div>
		<div class="row">
			<div class="col-md-6">뚜띠와 함께 여러분이 원하는 연주를 직접 만들어보세요.<br>
			Enjoy a special musical experience with our service</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				Recording Schedule<br>
				 <br>
				[2014/03/08]<br>
				(완료)서울특별시 도곡동 '율하우스'<br>
				피아노 트리오 연주 영상촬영<br>
				<br>
				[2014/03월 말]<br>
				서울특별시 한남동 '일파로'<br>
				피아노 + 플루트 2중주 영상촬영
			</div>
			<div class="col-md-3">
				Notice<br>
				 <br>
				[2014/03/02]<br>
				사이트 디자인 리뉴얼<br>
				 <br>
				[2014/02/11]<br>
				서비스 정식 런칭<br>
			</div>
		</div>
	</div>
</div>
{% endblock %}
